@model ServiceCockpit.Models.ModleViewStammdaten
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stammdaten erfassen</h2>





    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading9>
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                    <h3 class="active">Adressen</h3>
                </a>
            </h4>
        </div>
        <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
            <div class="panel-body">
                <h2>
                @Html.ActionLink("Neue Adressen hinzufügen", "Create", "StammDaten")
                </h2>
                
            <h1>

            </h1>
                <h3>
                    @Html.ActionLink("Neue Ausführungsadresse hinzufügen", "Create", "Ausführungsadresses")
                </h3>
                <table class="display" id="Ausführungsadressen">
                    <thead>
                        <tr>
                           
                            <th>
                                Vorname
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Strasse
                            </th>
                            <th>
                                Plz
                            </th>
                            <th>
                                Ort
                            </th>
                            <th>
                                Telefon Geschäft
                            </th>
                            <th>
                                Telefon Privat
                            </th>
                            <th>Aktionen</th>
                        </tr>
                    </thead>

                    @foreach (var itemAusführungsadresses in Model.Ausführungsadresse)
                    {
                        <tr>
                           
                            <td>
                                @Html.DisplayFor(modelItem => itemAusführungsadresses.Vornamne)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => itemAusführungsadresses.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => itemAusführungsadresses.Strasse)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => itemAusführungsadresses.Plz)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => itemAusführungsadresses.Ort)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => itemAusführungsadresses.TelefonGeschäft)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => itemAusführungsadresses.TelefonPrivat)
                            </td>
                            <td>
                                @Html.ActionLink("Bearbeiten", "Edit", "Ausführungsadresses", new { id = itemAusführungsadresses.Id }, null)
                                @Html.ActionLink("Löschen", "Delete", "Ausführungsadresses", new { id = itemAusführungsadresses.Id }, null)
                            </td>
                        </tr>
                    }

                </table>
            <script>
                $(document).ready(function () {
                    $('#Ausführungsadressen').DataTable({
                        "language": {
                            "lengthMenu": "Zeige _MENU_ Einträge",
                            "zeroRecords": "Keine Einträge vorhanden",
                            "info": "Seite _PAGE_ von _PAGES_",
                            "infoEmpty": "Keine Einträge Vorhanden",
                            "infoFiltered": "(Gesucht von _MAX_ Einträge)"
                        }
                    });
                });
            </script>

                

                <h3>
                    @Html.ActionLink("Neue Eigentümeradresse hinzufügen", "Create", "Eigentuemeradresses")
                </h3>
            <table class="display" id="Eigentümeradressen">
                <thead>
                    <tr>
                       
                        <th>
                            Vorname
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Strasse
                        </th>
                        <th>
                            Plz
                        </th>
                        <th>
                            Ort
                        </th>
                        <th>
                            Telefon Geschäft
                        </th>
                        <th>
                            Telefon Privat
                        </th>
                        <th>Aktionen</th>
                    </tr>
                </thead>

                @foreach (var itemEigentuemeradress in Model.Eigentuemeradresse)
                {
                    <tr>
                       
                        <td>
                            @Html.DisplayFor(modelItem => itemEigentuemeradress.Vornamne)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => itemEigentuemeradress.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => itemEigentuemeradress.Strasse)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => itemEigentuemeradress.Plz)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => itemEigentuemeradress.Ort)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => itemEigentuemeradress.TelefonGeschäft)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => itemEigentuemeradress.TelefonPrivat)
                        </td>
                        <td>
                            @Html.ActionLink("Bearbeiten", "Edit", "Eigentuemeradresses", new {id = itemEigentuemeradress.Id}, null)
                            @Html.ActionLink("Löschen", "Delete", "Eigentuemeradresses", new {id = itemEigentuemeradress.Id}, null)
                        </td>
                    </tr>
                }

            </table>
            <script>
                $(document).ready(function () {
                    $('#Eigentümeradressen').DataTable({
                        "language": {
                            "lengthMenu": "Zeige _MENU_ Einträge",
                            "zeroRecords": "Keine Einträge vorhanden",
                            "info": "Seite _PAGE_ von _PAGES_",
                            "infoEmpty": "Keine Einträge Vorhanden",
                            "infoFiltered": "(Gesucht von _MAX_ Einträge)"
                        }
                    });
                });
            </script>
                
                

            <h3>
                @Html.ActionLink("Neue Rechnungsadresse hinzufügen", "Create", "Rechnungsadresses")
            </h3>

            <table class="display" id="Rechnungsadressen">
                <thead>
                    <tr>
                      
                        <th>
                            Vorname
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Strasse
                        </th>
                        <th>
                            Plz
                        </th>
                        <th>
                            Ort
                        </th>
                        <th>
                            Telefon Geschäft
                        </th>
                        <th>
                            Telefon Privat
                        </th>
                        <th>Aktionen</th>
                    </tr>
                </thead>

                @foreach (var itemRechnungsadresse in Model.Rechnungsadresse)
                {
                    <tr>
                       
                        <td>
                            @Html.DisplayFor(modelItem => itemRechnungsadresse.Vornamne)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => itemRechnungsadresse.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => itemRechnungsadresse.Strasse)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => itemRechnungsadresse.Plz)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => itemRechnungsadresse.Ort)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => itemRechnungsadresse.TelefonGeschäft)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => itemRechnungsadresse.TelefonPrivat)
                        </td>
                        <td>
                            @Html.ActionLink("Bearbeiten", "Edit", "Rechnungsadresses", new {id = itemRechnungsadresse.Id}, null) 
                            @Html.ActionLink("Löschen", "Delete", "Rechnungsadresses", new {id = itemRechnungsadresse.Id}, null)
                        </td>
                    </tr>
                }

            </table>
            <script>
                $(document).ready(function () {
                    $('#Rechnungsadressen').DataTable({
                        "language": {
                            "lengthMenu": "Zeige _MENU_ Einträge",
                            "zeroRecords": "Keine Einträge vorhanden",
                            "info": "Seite _PAGE_ von _PAGES_",
                            "infoEmpty": "Keine Einträge Vorhanden",
                            "infoFiltered": "(Gesucht von _MAX_ Einträge)"
                        }
                    });
                });
            </script>
            </div>
        </div>

    </div>
</div>



