@model ServiceCockpit.Models.MaterialKosten

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MaterialKosten</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Servicerapport.VoranmeldungName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servicerapport.VoranmeldungName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Verrechnungsart.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Verrechnungsart.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnzahlMaterial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnzahlMaterial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KostenTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KostenTotal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
