@model ServiceCockpit.Models.Eigentuemeradresse

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Eigentuemeradresse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vornamne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vornamne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strasse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strasse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonGeschäft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonGeschäft)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonPrivat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonPrivat)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", "StammDaten")
        </div>
    }
</div>
