@model ServiceCockpit.Models.Servicerapport

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Servicerapport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Servicerapport Nr.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            Projekt Nr.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projekt.Nummer)
        </dd>
        <dt>
            Ausführungsadresse
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ausführungsadresse.Anzeigeadresse)
        </dd>

        <dt>
            Eigentümeradresse
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eigentuemeradresse.Anzeigeadresse)
        </dd>
        <dt>
            Rechnungsadresse
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rechnungsadresse.Anzeigeadresse)
        </dd>
        <dt>
            Mitarbeiter
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mitarbeiter.VollerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KundenTerminZeit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KundenTerminZeit)
        </dd>
        <dt>
            Voranmeldung bei
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoranmeldungName)
        </dd>

        <dt>
            Telefon Nr.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoranmeldungNummer)
        <dt>
            Abgeschlossen am
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RapportAbgechlossenZeit)
        </dd>


        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beschreibung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beschreibung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAdresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAdresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unterschrift)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unterschrift)
        </dd>

        <dt>
            Kosten Arbeitszeit

        </dt>

        <dd>
            @Html.DisplayFor(model => model.KostenZeit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KostenMaterial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KostenMaterial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KostenTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KostenTotal)
        </dd>

    </dl>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Löschen" class="btn btn-default" /> |
        @Html.ActionLink("zurück", "Index", "RapporteUebertragen")
    </div>
}
</div>
