@model ServiceCockpit.Models.Servicerapport

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Servicerapport</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Servicerapport Nr.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            Projekt Nr.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projekt.Nummer)
        </dd>
        <dt>
            Ausführungsadresse
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ausführungsadresse.Anzeigeadresse)
        </dd>

        <dt>
            Eigentümeradresse
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eigentuemeradresse.Anzeigeadresse)
        </dd>
        <dt>
            Rechnungsadresse
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rechnungsadresse.Anzeigeadresse)
        </dd>
        <dt>
            Mitarbeiter
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mitarbeiter.VollerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KundenTerminZeit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KundenTerminZeit)
        </dd>
        <dt>
            Voranmeldung bei
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoranmeldungName)
        </dd>

        <dt>
            Telefon Nr.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoranmeldungNummer)
        <dt>
            Abgeschlossen am
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RapportAbgechlossenZeit)
        </dd>


        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beschreibung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beschreibung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAdresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAdresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unterschrift)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unterschrift)
        </dd>

        <dt>
            Kosten Arbeitszeit

        </dt>

        <dd>
            @Html.DisplayFor(model => model.KostenZeit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KostenMaterial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KostenMaterial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KostenTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KostenTotal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Bearbeiten", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("zurück", "Index","RapporteUebertragen")
</p>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading2">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                    <h3 class="active">Servicerapport Zeiten</h3>
                </a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>
                            Rapport Nr.
                        </th>
                        <th>
                            Monteur
                        </th>
                        <th>
                            Verrechnungsart
                        </th>
                        <th>
                            Datum vor Ort
                        </th>
                        <th>
                            Stunden vor Ort
                        </th>
                        <th>
                            Stunden ink. Überzeit
                        </th>
                        <th>
                            Kosten in CHF
                        </th>
                        
                    </tr>
                    @if (Model.ZeitKosten != null)
                    {
                        foreach (var item in Model.ZeitKosten)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Servicerapport.Id)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mitarbeiter.VollerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Verrechnungsart.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Eintragsdatum)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AnzahlStunden)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AnzahlStundenTotal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.KostenTotal)
                                </td>
                               
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <th>Keine Daten Vorhanden</th>
                        </tr>
                    }
                </table>

            </div>
        </div>
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading3">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                        <h3 class="active">Servicrapport Materialien</h3>
                    </a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading3">
                <div class="panel-body">
                   
                    <table class="table">
                        <tr>
                            <th>
                                Rapport Nr.
                            </th>
                            <th>
                                Material
                            </th>
                            <th>
                                EM-Nr.
                            </th>
                            <th>
                                Menge
                            </th>
                            <th>
                                Kosten in CHF
                            </th>
                           
                        </tr>
                        @if (Model.MaterialKosten != null)
                        {
                            foreach (var item in Model.MaterialKosten)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Servicerapport.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Material.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Material.Nummer)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.AnzahlMaterial)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.KostenTotal)
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <th>Keine Daten Vorhanden</th>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    





