@using System.Activities.Statements
@using System.Web.UI.WebControls
@model ServiceCockpit.Models.Servicerapport

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Bearbeiten</h2>


@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading1">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                    <h3 class="active">Servicrapport Daten </h3>
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
            <div class="panel-body">

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.KundenTerminZeit, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.KundenTerminZeit, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.KundenTerminZeit, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RapportAbgechlossenZeit, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.RapportAbgechlossenZeit, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.RapportAbgechlossenZeit, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.VoranmeldungName, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.VoranmeldungName, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.VoranmeldungName, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.VoranmeldungNummer, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.VoranmeldungNummer, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.VoranmeldungNummer, "", new {@class = "text-danger"})
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Beschreibung, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Beschreibung, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Beschreibung, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.EigentuemeradresseId, "Eigentuemeradresse", htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.DropDownList("EigentuemeradresseId", null, htmlAttributes: new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.EigentuemeradresseId, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AusführungsadresseId, "Ausführungsadresse", htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.DropDownList("AusführungsadresseId", null, htmlAttributes: new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.AusführungsadresseId, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RechnungsadresseId, "Rechnungsadresse", htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.DropDownList("RechnungsadresseId", null, htmlAttributes: new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.RechnungsadresseId, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MitarbeiterId, "Verantwortlicher Mitarbeiter", htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.DropDownList("MitarbeiterId", null, htmlAttributes: new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.MitarbeiterId, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjektFK, "Projekt Nr.", htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.DropDownList("ProjektFK", null, htmlAttributes: new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.ProjektFK, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.KostenZeit, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.KostenZeit, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.KostenZeit, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.KostenMaterial, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.KostenMaterial, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.KostenMaterial, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.KostenTotal, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.KostenTotal, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.KostenTotal, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Unterschrift, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Unterschrift, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Unterschrift, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmailAdresse, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EmailAdresse, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.EmailAdresse, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control"} })
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>
                   

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Speichern" name="rapportSpeichern" class="btn btn-default" />
                        </div>
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Abschliessen" name="mailSenden" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading2">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                        <h3 class="active">Servicerapport Zeiten</h3>
                    </a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading2">
                <div class="panel-body">
                    <p>
                        @Html.ActionLink("Create New", "Create", "ZeitKostens")
                    </p>
                    <table class="table">
                        <tr>
                            <th>
                                Rapport Nr.
                            </th>
                            <th>
                                Monteur
                            </th>
                            <th>
                                Verrechnungsart
                            </th>
                            <th>
                                Datum vor Ort
                            </th>
                            <th>
                                Stunden vor Ort
                            </th>
                            <th>
                                Stunden ink. Überzeit
                            </th>
                            <th>
                                Kosten in CHF
                            </th>
                            <th></th>
                        </tr>
                        @if (Model.ZeitKosten != null)
                        {
                            foreach (var item in Model.ZeitKosten)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Servicerapport.Id)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mitarbeiter.VollerName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Verrechnungsart.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Eintragsdatum)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AnzahlStunden)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AnzahlStundenTotal)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.KostenTotal)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Bearbeiten", "Edit", "ZeitKostens", new { id = item.Id }, null)
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <th>Keine Daten Vorhanden</th>
                            </tr>
                        }
                    </table>

                </div>
            </div>
        </div>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading3">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                            <h3 class="active">Servicrapport Materialien</h3>
                        </a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading3">
                    <div class="panel-body">
                        <p>
                            @Html.ActionLink("Create New", "Create", "MaterialKostens")
                        </p>
                        <table class="table">
                            <tr>
                                <th>
                                    Rapport Nr.
                                </th>
                                <th>
                                    Material
                                </th>
                                <th>
                                    EM-Nr.
                                </th>
                                <th>
                                    Menge
                                </th>
                                <th>
                                    Kosten in CHF
                                </th>
                                <th></th>
                            </tr>
                            @if (Model.MaterialKosten != null)
                            {
                                foreach (var item in Model.MaterialKosten)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Servicerapport.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Material.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Material.Nummer)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.AnzahlMaterial)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.KostenTotal)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Bearbeiten", "Edit", "MaterialKostens", new {id = item.Id},null)
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <th>Keine Daten Vorhanden</th>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

}







