@model IEnumerable<ServiceCockpit.Models.Servicerapport>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ausführungsadresse.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eigentuemeradresse.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mitarbeiter.VorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Projekt.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rechnungsadresse.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KundenTerminZeit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RapportAbgechlossenZeit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VoranmeldungName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VoranmeldungNummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beschreibung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAdresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unterschrift)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KostenZeit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KostenMaterial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KostenTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ausführungsadresse.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Eigentuemeradresse.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mitarbeiter.VorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Projekt.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rechnungsadresse.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KundenTerminZeit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RapportAbgechlossenZeit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VoranmeldungName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VoranmeldungNummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beschreibung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAdresse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unterschrift)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KostenZeit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KostenMaterial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KostenTotal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
