@model IEnumerable<ServiceCockpit.Models.Mitarbeiter>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NachName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonGeschäft)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonPrivat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kürzel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GfeNummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NachName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonGeschäft)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonPrivat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kürzel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GfeNummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
